.header-content
{
    height: 100vh;
    width: 100%;
    background: url(image/image\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-content .content 
{
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-content .content .boxrecipe
{
    display: inline-flex;
    width: 406px;
    padding: 10px 16px 10px 10px;
    position: relative;
    background: rgba(78, 154, 169, 0.15);
}

.header-content .content .boxrecipe .box
{
    width: 93px;
    height: 26px;
    background: #FFFFFF;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header-content .content .boxrecipe .box span 
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 9px;
    letter-spacing: 1px;
    color: #4E9AA9;
}

.header-content .content .boxrecipe .text
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4E9AA9;
}

.header-content .content .boxrecipe .fa-arrow-right
{
    margin-left: 31.9px;
    font-size: 14px;
    color: #4E9AA9;
    align-items: center;
    justify-content: center;
    display: flex;
}

.header-content .content .headline
{
    margin-top: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 85px;
    line-height: 95px;
    letter-spacing: -2px;
    color: #121212;
}

.header-content .content .description
{
    margin-top: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #121212;
    opacity: 0.7;
}

@media (max-width: 891px)
{
    .header-content .content 
    {
        width: 75%;
    }
}

@media (max-width: 800px)
{
    .header-content
    {
        margin-top: 81px;
        height: 100vh;
        width: 100%;
        background: url(image/image\ 1.png);
        background-repeat: no-repeat;
        background-position: 0% center;
        background-size: cover;
    }

    .header-content .content .boxrecipe
    {
        background: rgba(78, 154, 169, 0.7);
    }

    .header-content .content .boxrecipe .text
    {
        color: #FFFFFF;
    }

    .header-content .content .boxrecipe .fa-arrow-right
    {
        color: #FFFFFF;
    }

    .header-content .content 
    {
        align-items: center;
        width: 100%;
    }

    .header-content .content .headline,
    .header-content .content .description
    {
        color: #4E9AA9;
        margin-top: 65px;
    }


}

@media (max-width: 500px)
{
    .header-content
    {
        margin-top: 81px;
        height: 100vh;
        width: 100%;
        background: url(image/image\ 1.png);
        background-repeat: no-repeat;
        background-position: 0% center;
        background-size: cover;
    }

    .header-content .content .boxrecipe
    {
        background: rgba(78, 154, 169, 0.7);
    }

    .header-content .content .boxrecipe .text
    {
        color: #FFFFFF;
    }

    .header-content .content .boxrecipe .fa-arrow-right
    {
        color: #FFFFFF;
    }

    .header-content .content 
    {
        align-items: center;
        transform: scale(.8);
        width: 100%;
    }

    .header-content .content .headline,
    .header-content .content .description
    {
        color: #4E9AA9;
        margin-top: 55px;
    }

    .header-content .content .headline
    {
        font-size: 75px;
    }

    .header-content .content .description
    {
        font-size: 15px;
    }

}

@media (max-width: 415px)
{
    .header-content .content .headline
    {
        font-size: 65px;
    }

    .header-content .content .description
    {
        font-size: 13.5px;
    }
}

@media (max-width: 355px)
{
    .header-content .content .headline
    {
        font-size: 59px;
    }

    .header-content .content .description
    {
        font-size: 11.5px;
    }

    .header-content .content 
    {
        transform: scale(.7);
    }
}

@media (max-width: 300px)
{
    .header-content .content .headline
    {
        font-size: 52px;
    }

    .header-content .content .description
    {
        font-size: 10px;
    }

    .header-content .content 
    {
        transform: scale(.6);
    }
}